.about {
  background-color: var(--alabaster);
  padding: 8rem 0;
}

.container {
  width: 80%;
  max-width: 120rem;
  margin: 0 auto;
}

.aboutContent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.aboutLeft {
  flex: 1;
  text-align: center;
}

.profilePicture {
  width: 20vw;
  max-width: 20rem;
  height: auto;
  border-radius: 50%;
  border: 0.5rem solid var(--dim-gray);
}

.aboutRight {
  flex: 2;
  padding: 2rem;
  text-align: left;
  max-width: 60rem;
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: bold;
  margin-bottom: 2rem;
}

.techStack {
  margin-top: 4rem;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  font-size: var(--p-font-size);
  line-height: 1.5;
}

.stackText {
  display: flex;
  align-items: center;
}

.stackText p {
  margin-left: 1rem;
}

/* Responsive styles */
@media screen and (max-width: 48em) {
  .aboutContent {
    flex-direction: column;
    text-align: center;
  }

  .profilePicture {
    width: 40vw;
    max-width: 20rem;
    height: auto;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: var(--h2-font-size);
  }

  h3 {
    font-size: var(--h3-font-size);
  }

  p {
    font-size: var(--p-font-size);
  }

  .aboutRight {
    max-width: 100%;
    padding: 1rem;
  }
}
