.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--goldenrod);
  color: var(--alabaster);
}

.navbar-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-item:last-child {
  margin-right: 0;
}

.navbar-item a {
  color: var(--alabaster);
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-item a:hover {
  color: var(--taupe-gray);
}

.navbar-item.active a {
  color: var(--dim-gray);
}
