.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--goldenrod);
  color: var(--alabaster);
}

.navbar-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-item:last-child {
  margin-right: 0;
}

.navbar-item a {
  color: var(--alabaster);
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-item a:hover {
  color: var(--taupe-gray);
}

.navbar-item.active a {
  color: var(--dim-gray);
}

.language-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-left: 170%;
}

.language-buttons button {
  background-color: transparent;
  border: none;
  color: var(--alabaster);
  cursor: pointer;
  font-size: 14px;
  transition: color 0.3s ease;
}

.language-buttons button:hover {
  color: var(--taupe-gray);
}
