.footer {
  background-color: var(--dim-gray);
  padding: 20px 0;
  color: var(--alabaster);
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.copy-text {
  font-size: 14px;
}
